<div class="container object-page">
	<div class="alert alert-danger" ng-show="errors != null">
		<button type="button" class="close" ng-click="dismissError({key: 'errors'})">
			<span>&times;</span>
		</button>
		<ul class="error-container">
			<li>Error Message:</li>
			<li ng-repeat="error in errors" class="error">{{error.number}} - {{error.message}}</li>
		</ul>
	</div>
	
	<div class="row input">
		<div class="col-lg-12">
			<div class="input-group">
				<input id="txObject" type="text" class="form-control" placeholder="Search for objects..." ng-keyup="onTextInput()">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="onFindClick()">Find!</button>
				</span>
			</div>
			<div class="autocomplete-list-holder" ng-show="items != null">
				<ul class="autocomplete-list">
					<li class="autocomplete-list-item" ng-repeat="item in items" ng-click="onItemClick(item)">
						<a href="javascript:void(0)">{{item}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row result">
		<div class="col-lg-12">
			<div class="alert alert-info" ng-show="childRelations != null">
				<button type="button" class="close" ng-click="dismissError({key: 'childRelations'})">
					<span>&times;</span>
				</button>
				<ul class="error-container">
					<li>Child Relationships:</li>
					<li ng-repeat="relation in childRelations" class="error">{{relation.relationshipName}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>